<!-- T O P   M E N U -->
<div class="ui menu top fixed three inverted ">
  <a class="item" (click)="goBack()" >
      <i class="icon chevron left big"></i>
  </a>
  <a class="item">
    <h3 class="truncate">{{pageDataService.pageTitle}}</h3>
  </a>
  <div class="right menu">
    <a class="item" (click)="editMode()" *ngIf="authService.isLoggedIn() && pageDataService.pageAuth > pageDataService.auth_view">
      <i class="icon edit big"></i>.
    </a>
  </div>
</div>

<div class="ui segment">
 <sui-tabset>

  <!-- T A B S -->
  <div class="ui top attached tabular menu">
    <a class="item" suiTabHeader="1">Items</a>
    <a class="item" suiTabHeader="2" [isActive]="pageDataService.activeDetail">Details</a>
    <a class="item" suiTabHeader="3" *ngIf="ifEdit">Recycle</a>
  </div>

  <!-- I T E M S -->
  <div class="ui bottom attached segment" suiTabContent="1">
    <ul class='ui menu' >
      <li class="ui menu item"
         *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view">
			    <a [routerLink]="['/pageAdd/'+this.pageDataService.pageID]"
             [queryParams]="{ p: this.pageDataService.pageTitle }"
              queryParamsHandling="merge">
			    <!-- href="/pageAdd/{{this.pageDataService.pageID}}?p={{this.pageDataService.pageTitle}}"> -->
				  <h4><i class="icon plus square big" style="color:green"></i></h4>
				</a>
      </li>
      <li *ngFor="let pi of pageDataService.page_items; let idx = index;">
        <div class="ui item" id="{{idx}}">
          <div class="four large ui buttons" id="{{pi.id}}">
            <button class="ui basic button" *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view">
              <i class="icon trash alternate big"></i>
            </button>
            <button class="ui basic button largetext" (click)="pageEdit(pi.id,pi.nm)"
              *ngIf="ifEdit" >{{pi.nm}}</button>
            <button class="ui basic button largetext" (click)="showPage(pi.id)"
              *ngIf="!ifEdit">{{pi.nm}}</button>
			      <button class="ui basic button" style="background:none; border:none; box-shadow:none;"
			        (click)="pageUp(idx)" *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view" >
			        <i class="icon angle up big"></i>
			      </button>
			      <button class="ui basic button" style="background:none; border:none; box-shadow:none;"
			        (click)="pageDown(idx)" *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view">
			        <i class="icon angle down big"></i>
			      </button>
          </div>
        </div>
      </li>
    </ul>

  <!-- D E T A I L S -->
  </div>
  <div class="ui bottom attached segment" suiTabContent="2" >
    <ul class='ui menu' >
      <li class="ui menu item"
         *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view">
			    <a [routerLink]="['/articleAdd/'+this.pageDataService.pageID]"
             [queryParams]="{ p: this.pageDataService.pageTitle }"
              queryParamsHandling="merge">
			    <!-- href="/pageAdd/{{this.pageDataService.pageID}}?p={{this.pageDataService.pageTitle}}"> -->
				  <h4><i class="icon plus square big" style="color:green"></i></h4>
				</a>
      </li>
      <li>
        <div *ngFor="let d of pageDataService.page_html; let idx = index;"> <!-- _detail"> -->
          <div class="ui item" id="{{idx}}"  *ngIf="ifEdit && pageDataService.pageAuth > pageDataService.auth_view">
            <div class="four large ui buttons" >
              <button class="ui basic button">
                <i class="icon trash alternate big"></i>
              </button>
              <button class="ui basic button largetext"
                (click)="articleEdit(d.id,d.title)">
                {{d.title}}
              </button>
              <button class="ui basic button" style="background:none; border:none; box-shadow:none;"
                (click)="articleUp(idx)">
                <i class="icon angle up big"></i>
              </button>
              <button class="ui basic button" style="background:none; border:none; box-shadow:none;"
                (click)="articleDown(idx)">
                <i class="icon angle down big"></i>
              </button>
            </div>
          </div>
          <div class="ui item"><h3>{{d.title}}</h3></div>
          <div class="ui wiki detail" [innerHTML]="d.text | safeHtml"></div>
          <hr>
        </div>
      </li>
    </ul>
  </div>

  <!-- R E C Y C L E  -->
  <div class="ui bottom attached segment" suiTabContent="3" *ngIf="ifEdit">
     Hiding in plain sight...edit mode is on!!
      <div class='ui menu' > <!-- [dragula]='"item-bag"'  -->
        <div class='ui menu' >You can move these elements between these two containers
          <i class="icon align justify movehandle"></i></div>
        <div class='ui menu' >Moving them anywhere else isn't quite possible
          <i class="icon align justify movehandle"></i></div>
        <div class='ui menu' >There's also the possibility of moving elements around in the same container, changing their position
          <i class="icon align justify movehandle"></i></div>
      </div>
      <div class='ui menu item'>
        <div>This is the default use case. You only need to specify the containers you want to use</div>
        <div>More interactive use cases lie ahead</div>
        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
      </div>
  </div>
 </sui-tabset>
</div>


