.truncate {
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  display : block !important;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width:100%;
}

li {
  list-style-type: none;
  list-style: none;
  width: auto;
  border-bottom:1px solid #ccc;
  border-top:1px solid #fff;
}


.largetext {
   font-size: 2rem !important;
}

/*
.handle {
  float : right;
}

li {
    display : block !important;
}
*/
